@import url("https://use.typekit.net/lnr4wfy.css");

@font-face {
  font-family: 'MotterOmbra';
  src: url('config/fonts/MotterOmbra.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
