<div class="footer">
  <div class="footer-links">
    <%# <a href="#"><i class="fab fa-github"></i></a> %>
    <a href="https://www.instagram.com/aronhannes/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/aronhannes/"><i class="fab fa-facebook"></i></a>
    <a href="mailto:aronhannesofficial@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-copyright">
  © 2025 Aron Hannes. All rights reserved.
  <%# <i class="fas fa-heart"></i> %>
  </div>
</div>
