<%= image_tag "Top Layer.png", alt: "Top Layer Image", class: "toplayer-image" %>

<div class="backdrop-title">
  <h1 class="title-aron">ARON</h1>
  <h1 class="title-hannes">HANNES</h1>
</div>

<section id="about">
  <div class="about-row">
    <%= image_tag "Portrait 1.png", alt: "About Image", class: "about-image" %>
    <div class="about-text">
      <h3>ABouT</h3>
      <div class="upper-text">
        <p>Aron Hannes is a Soul/R&B artist from Iceland, blending genres like Pop, R&B, and Soul with heartfelt lyrics and dynamic melodies. Known for his eclectic style and passion for growth, Aron delivers music that showcases his versatility and emotional depth. With a humble and dedicated approach to his craft, he continues to evolve as an artist.</p>
      </div>
    </div>
  </div>
</section>

<div class="gtr-container">
<%= image_tag "gtr.png", alt: "Guitar Image", class: "gtr-image" %>
</div>

<div class="star-container">
<%= image_tag "star.png", alt: "Star Image", class: "star-image" %>
</div>


<section id="music-platforms">
      <h2>Music</h2>
      <ul>
        <li><a href="https://open.spotify.com/artist/3YWoe6haPoiQdq7GaQz2OR?si=eaM94hB-SkGdMmlK50nF4A" target="_blank">Spotify</a></li>
        <li><a href="https://music.apple.com/is/artist/aron-hannes/820717161" target="_blank">Apple Music</a></li>
        <li><a href="https://deezer.page.link/XSZdQHGWG5SsZhzE7" target="_blank">Deezer</a></li>
        <li><a href="https://music.youtube.com/channel/UCG5wQ2UMfLYD5lp8MAbk6Zg?si=oIyyNtdSgnZ4b54G" target="_blank">YouTube Music</a></li>
        <li><a href="https://tidal.com/browse/artist/7421898" target="_blank">Tidal</a></li>
      </ul>
    </section>
