<div class="song-show">
  <h1><%= @song_data[:title] %></h1>
  <p>Listen on:</p>
  <ul>
    <% @song_data[:links].each do |name, url| %>
      <li><a href="<%= url %>" target="_blank" rel="noopener"><%= name %></a></li>
    <% end %>
  </ul>
</div>

