<body class="gallery">


<div class="gallery-container">
<h1>photos.</h1>

<%= image_tag "CHILD (BOLD:YELLOW).png", alt: "Child Image", class: "child-image" %>
<p>Photo by Eva Rut.</p>
</div>
</body>
