html {
  font-size: 16px; /* Default for desktops */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* 1rem = 14px for tablets */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; /* 1rem = 12px for mobile */
  }
}

body {
  background-color: white;
  // margin: 0; /* Remove default margin */
  // padding-right: 0.5rem; /* no extra spacing */
  // padding-right: 0.5rem;
  min-height: 100vh; /* Allow the content to grow beyond the viewport */
  font-family: 'afronaut-regular', sans-serif;
}

html, body {
  // width: 100%;
  // height: 100%;
  // max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Full-page layout */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
}

/* Pushes content above the footer */
.content-wrapper {
  flex: 1;
}
